$amount_01b_uriage: #97D8E0;
$amount_01uriage: #549EA7;
$amount_02b_gaichu: #92BCD6;
$amount_02gaichu: #83ABC3;
$amount_03kousu: #5092EB;
$amount_04genka: #64A27E;
$amount_05eigyou: #BA7CA4;
$amount_06kakutoku: #9380C9;
$amount_07arari: #7F89CE;

$label_01: #CBE2E4;
$label_02: #D9E6ED;
$label_03: #CADEF9;
$label_04: #D0E3D8;
$label_05: #EAD7E3;
$label_06: #DED9EF;
$label_07: #D8DBF0;

$status_01usui: #AFE0FF;
$status_02hassei: #B4EB4B;
$status_03teian: #FAB03A;
$status_04mikomi: #C5AEF8;
$status_05kakutei: #63D6C9;
$status_06kanryou: #5C68BE;
$status_07shicchu: #D6D6D6;

$bl_grey_01: #D6DEE6;
$bl_grey_02: #B0BDCC;
$bl_grey_03: #ACB8CE;
$bl_grey_04: #808EA2;
$bl_grey_05: #5B729D;
$bl_grey_06: #546C8D;
$bl_grey_07: #415876;
$bl_grey_08: #254167;
$bl_grey_09: #0F3153;

$grey_01: #F9FAFC;
$grey_02: #F7F7F7;
$grey_03: #F0F3F7;
$grey_04: #EDF0F4;
$grey_05: #EDEFF2;
$grey_06: #EAEFF4;
$grey_07: #E1E6EB;
$grey_08: #E2E2E2;
$grey_09: #D6DCE3;
$grey_10: #D1D4D8;
$grey_11: #EBEBEB;

$blue_01: #E8F1FA;
$blue_02: #EBF6FF;
$blue_03: #E9F2F7;
$blue_04: #D3E9FF;
$blue_05: #D0E3F4;
$blue_06: #C6DDEB;
$blue_07: #B7D8F8;
$blue_08: #7AB4ED;
$blue_09: #5A81ED;
$blue_10: #215ED0;

$green_01: #F3F9F7;
$green_02: #EAF7F6;
$green_03: #D6F2EF;
$green_04: #CCF0D9;
$green_05: #1F737E;

$font_grey_01: #808B96;
$font_grey_02: #6A7784;
$font_grey_03: #2C3E50;
$font_grey_04: #475365;

$alert: #E0003C;
$alert_area: #FFF5F5;
$necessary_area: #FFF2E8;

$purple_01: #EBF0FC;
$purple_02: #D6E1FB;
$purple_03: #7E57C2;

$yellow_01: #DDE2A6;
$yellow_02: #FFDF99;

$report_PJ_01: #F873D9;
$report_PJ_02: #5ACCFF;
$report_PJ_03: #C74CFD;
$report_PJ_04: #9CD126;
$report_PJ_05: #F2DA22;
$report_PJ_06: #5184F7;

$color_plan: #BDBDBD;
$color_scrollbar_track: #B3B3B3;
$search_sidebar_background: $bl_grey_01;
$grey11_form: #DFE3E9;